.main-footer {
  width: 100%;
  margin-top: auto;
  padding: var(--blacklist-size-default) var(--blacklist-size-sm);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.main-footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-footer-content h3 {
  color: var(--color-text-muted-alt);
}

.main-footer-content p {
  color: var(--color-text-muted-alt);
}

.main-footer hr {
  width: 80%;
  border-color: var(--blacklist-text-secondary);
  margin: var(--blacklist-size-lg) 0;
}

.software-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.main-footer img {
  width: 10%;
  height: 3.5%;
}

.main-footer ul,
.main-footer ul li,
.main-footer ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: var(--size-xsmall);
}
