.main-form-container {
  width: 100%;
  padding: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.main-form-container h1 {
  color: var(--blacklist-text-dark-primary);

  position: absolute;
  top: 5%;
}

.main-login-form {
  background-color: var(--blacklist-bg-secondary);

  width: var(--blacklist-size-quarter);
  padding: 2rem;

  box-shadow: 0 0 3px black;

  border: none;
  border-radius: 5px;
}

.main-form-link-container {
  width: 100%;
  margin: 1rem 0;

  text-align: center;
}

.main-form-link-container a {
  color: var(--blacklist-text-dark-tertiary);
}

.main-form-link-container .hover-link::after {
  background-color: var(--blacklist-text-dark-tertiary);
  bottom: 2px;
}

@media (max-width: 1500px) {
  .main-login-form {
    width: var(--blacklist-size-half);
  }
}

@media (max-width: 500px) {
  .main-login-form {
    width: var(--blacklist-size-full);
  }
}
