.main-container {
  position: relative;
  width: var(--blacklist-size-full);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  width: var(--blacklist-size-full);
  position: relative;
  z-index: 1;
  padding: 5rem 1rem;

  display: flex;
  place-content: center;

  background-image: url("../../assets/bg-images/database.png");
}

.host-info-container {
  width: var(--blacklist-size-full);
}

.host-steps-container {
  width: var(--blacklist-size-full);

  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;

  padding: 5rem 1rem;
}

.host-info-title {
  color: var(--blacklist-text-dark-primary);
  text-align: center;

  font-size: 3.5rem;
  margin-top: 5%;
}

.community-info-container {
  width: var(--blacklist-size-full);

  display: flex;
  place-content: center;

  background-image: url("../../assets/bg-images/aram.jpg");

  padding: 10%;
}
