.main-header {
  background-color: black;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h1.main-header-title {
  font-size: 3rem;
}

.main-header-nav-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  list-style: none;
}
