.main-footer {
  min-height: 150px;
  background-color: var(--blacklist-bg-primary);
  padding: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.main-footer-content h1 {
  font-size: 2rem;
}

.main-footer-link {
  width: 100%;
  text-align: center;
}

.main-footer-link span {
  color: var(--blacklist-text-light-primary);
}

.main-footer-link span b {
  color: var(--blacklist-text-light-tertiary);
}
