.linked-button {
  width: 100%;
  padding: 1rem;

  background-color: var(--blacklist-bg-primary);

  border: none;
  border-radius: var(--blacklist-border-radius-medium);

  color: var(--blacklist-text-light-primary);

  display: flex;
  place-content: center;

  cursor: pointer;
  transition: background-color 0.5s ease;
}

.linked-button:hover {
  background-color: var(--blacklist-button-hover);
}

.linked-button-text {
  font-weight: bold;
}
