.title-group {
  width: var(--blacklist-size-most);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;

  padding: 1rem;
}

.title-group p {
  background-color: transparent;
}
