.title-group {
  width: var(--blacklist-size-most);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: var(--blacklist-border-radius-medium);

  padding: 1rem;
}

.title-group p {
  width: 100%;
  background-color: transparent;
}
